 /* MAIN ERROR */

.error-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* margin-left: 60px; */
  flex: 1;
  gap: 16px;

}


.error-img {
  width: 400px;
  height: 320px;
  margin-bottom: 22px;
}

.error-title {
  color: #ebeef5;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 3.5rem;
  letter-spacing: -2%;
  text-align: center;
}

.error-text {
  color: #8e95a9;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0%;
  text-align: center;

  max-width: 550px;
}

.error-btn {
  background-color: #9b51e0;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5rem;
  letter-spacing: 0%;
  opacity: 1;
  border: none;
  cursor: pointer;
  border-radius: 12px;
  border-width: 2px;
  padding: 16px 32px;
}
.error-btn:hover {
  background-color: #8b3fd0;
  transform: translateY(-1px);
}





